    body {
        color: white;
    }


    .generate-btn {
        text-decoration: none;
        transition-duration: 0.4s;
        height: 50px;
        width: 180px;
        border-radius: 6px;
        font-size: 17px;
        text-align: center;
        display: inline-block;
        line-height: 50px;
        background-color: black;
        color: white;
        margin-top: 100px;
        margin-bottom: 20px;
        margin-right: 10px;
        border: none;
        cursor: pointer;
        vertical-align: middle;

    }

    .generate-btn:hover {
        background-color: #333;
        color: #fff;
    }

    #password-input {
        font-family: "Montserrat", sans-serif;
        width: 300px;
        height: 45px;
        padding-left: 2.5rem;
        box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
        border: 0;
        border-radius: 12px;
        background-color: #16171d;
        outline: none;
        color: #bdbecb;
        transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
        cursor: text;
        z-index: 0;
        margin-top: 10px;
    }